$font-family = -apple-system, BlinkMacSystemFont, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
#app
  font-family: $font-family
  font-size 16px

h1, h2, h3, h4
  font-weight bold !important

p, ul, ol
  line-height 2 !important

.site-name
  font-family: $font-family

.description
  font-family: $font-family

.logo
  margin-right: 0 !important