.site-name {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  }

.home-blog {
  font-family: 'Kosugi Maru', sans-serif;
}

#app {
    font-family: 'Kosugi Maru', sans-serif;
  }